@model audiopretzel.Models.Music
@{
    ViewBag.Title = "AddMusic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add new music here</h2>

@*@Model.Name     @Model.Artist*@
<br />
<br />
<br />
<p>Note: please only add music that is creative commons</p>
<p>
    Note:When adding the soundcloud path only paste the url in the source without qoatations ex src="---paste this---"</p>
  <p style="color:#ff5555">DO NOT PASTE THE WHOLE EMBEDDED LINK WITH IFRAME </p>


@*allways use controller name first then viewpage folder eg Music*@
@using (Html.BeginForm("AddMusic","Music",FormMethod.Post))
{
  
        <div class="form-group"> @*create lambda expression that binds models to properties*@
            @Html.LabelFor(model => model.Artist)
            @Html.TextBoxFor(model => model.Artist, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Genre)
            @Html.TextBoxFor(model => model.Genre, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Path)
            @Html.TextBoxFor(model => model.Path, new { @class = "form-control" })
        </div>
        <button type="submit" value="save" class="btn btn-success">Save</button>
   
}

