@model IEnumerable<audiopretzel.Models.Music>
@*model mus be made into IEnurable to display in list*@

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<h2>Play music</h2>

<table class="table">
    <thead>
        <tr>
            <th>Audiotaco</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Name</th>
            <th>Play</th>
        </tr>
    </thead>
    <tbody>
        @*this is amazing this iterates using a foreach and displays the atributes of the model*@
@foreach (var item in Model)
{
        <tr>
            <th>@Html.DisplayFor(model => item.Id)</th>
            <td>@Html.DisplayFor(model => item.Artist)</td>
            <td>@Html.DisplayFor(model => item.Genre)</td>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>
                <audio controls="controls">
                    <source src="@Html.DisplayFor(model => item.Path)" type="audio/mpeg" />
                </audio>
            </td>
        </tr>
        }
    </tbody>
</table>