@model IEnumerable<audiopretzel.Models.Music>
@*model mus be made into IEnurable to display in list*@

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<h2>Play music</h2>

@*<form id="frmsearch" action="~/Music/Random" method="get">
        <input id="q" name="q" value="" style="width:275px;" />
        <input id="submit" name="submit" type="submit" style="font-weight:bold;" value="Search" />
       
    </form>*@





<table class="table">
    <thead>
        <tr>
            @*<th>Audiotaco</th>*@
            <th>@Html.ActionLink("Artist", "Random", new { sortOrder = ViewBag.artistSort })</th>
            <th>@Html.ActionLink("Genre", "Random", new { sortOrder = ViewBag.genreSort })</th>
            <th>@Html.ActionLink("Name", "Random", new { sortOrder = ViewBag.nameSort })</th> @*action link element contains name controller and the viewbag*@
            <th>Play</th>
        </tr>
    </thead>
    <tbody>
        @*this is amazing this iterates using a foreach and displays the atributes of the model*@
@foreach (var item in Model)
{
        <tr>
            @*<th>@Html.DisplayFor(model => item.Id)</th>*@
            <td>@Html.DisplayFor(model => item.Artist)</td>
            <td>@Html.DisplayFor(model => item.Genre)</td>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>
                <audio controls="controls">
                    <source src="@Html.DisplayFor(model => item.Path)" type="audio/mpeg" />
                </audio>
            </td>
        </tr>
        }
    </tbody>
</table>