@model IEnumerable<audiopretzel.Models.Music>
@*model mus be made into IEnurable to display in list*@

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<h2 style="font-family:raleway;">Play music</h2>


@*this is the html output for the search bar taking searchstring param from controller in htmlhelper*@

@using (Html.BeginForm())
{
      <div class="jumbotron">
           <p class="form-inline">
             Search <span class="glyphicon glyphicon-sound-stereo"></span> @Html.TextBox("SearchString", null, new { @class = "form-control" })   
             <input class="btn btn-info" type="submit" value="Search"/>
           </p>
          </div>
  
}

<table class="table">
    <thead>
        <tr>
            @*<th>Audiotaco</th>*@
            <th>@Html.ActionLink("Artist", "Random", new { sortOrder = ViewBag.artistSort })</th>
            <th>@Html.ActionLink("Genre", "Random", new { sortOrder = ViewBag.genreSort })</th>
            <th>@Html.ActionLink("Name", "Random", new { sortOrder = ViewBag.nameSort })</th> @*action link element contains name controller and the viewbag*@
            <th>Play</th>
        </tr>
    </thead>
    <tbody>
        @*this is amazing this iterates using a foreach and displays the atributes of the model*@
@foreach (var item in Model)
{
        <tr>
            @*<th>@Html.DisplayFor(model => item.Id)</th>*@
            <td>@Html.DisplayFor(model => item.Artist)</td>
            <td>@Html.DisplayFor(model => item.Genre)</td>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>
                <audio controls="controls">
                    <source src="@Html.DisplayFor(model => item.Path)" type="audio/mpeg" />
                </audio>
            </td>
        </tr>
        }
    </tbody>
</table>